In [1]:
#function and class

#vehicles has wheels and seats, car also has wheel and seats , bus also has wheel and seats 
# - > vehicle is called "class", its features are wheel and seats

In [2]:
class FirstClass:  #This defines the class
    x = 'This is my first class' #This is class variable

In [3]:
o1= FirstClass()
#o1 is the object of the class FirstClass

In [4]:
o1.x

'This is my first class'

In [5]:
FirstClass().x

'This is my first class'

In [6]:
class Person:
    def __init__(self, name, age, gender, houses= 0, atm_pin=1234): #constructor #blue print or template is formed 
        #pass  # when any function is to be left empty we put pass in it
        self.name = name
        self.age = age
        self.sex = gender
        self._houses = houses       #emulating protected variable
        self.__atm_pin = atm_pin    #emulating private variable

    def display_information(self, ):
        message = f'''
        Hello, I am {self.name}, I am {self.age} years old, 
        I am {self.sex}, My have {self._houses} and my ATM pin is {self.__atm_pin}
        '''
        print (message)
    
    def hello(self):
        message = "Hello from Person" #constructor
        print (message)
        
p1 =Person('Hari Bahadur',50, 'M')
p2= Person('Hari Maya', 45, 'F')
p1.hello()

Hello from Person

In [7]:
p1.name

'Hari Bahadur'

In [8]:
p2.name

'Hari Maya'

In [9]:
p2.age

45

In [10]:
p2.sex

'F'

In [11]:
pe = Person (age = 12, name='Deerwalk', gender = 'M' )

In [12]:
p1.display_information()

        Hello, I am Hari Bahadur, I am 50 years old,
        I am M, My have 0 and my ATM pin is 1234

In [13]:
p2.display_information()

        Hello, I am Hari Maya, I am 45 years old,
        I am F, My have 0 and my ATM pin is 1234

In [14]:
p1._houses # reading protected variable use _

0

In [15]:
p1._Person__atm_pin #reading the private variable, use class and double underscore

1234

In [16]:
'''
Create a class with following features - >
vtype: 'car', 'bike', 'bus'
wheeels: 4, 2, 6
price: 2000, 500, 7000
model_year: 1988, 2005, 2015
owner_name: Madan, Hari, Shyam
seats: 6, 2, 50

'''

"\nCreate a class with following features - >\nvtype: 'car', 'bike', 'bus'\nwheeels: 4, 2, 6\nprice: 2000, 500, 7000\nmodel_year: 1988, 2005, 2015\nowner_name: Madan, Hari, Shyam\nseats: 6, 2, 50\n\n"

In [47]:
class Vehicle:
    def __init__(self, vtype, wheels, price=0, model_year = 2000, owner_name = None, seats = 2): 
                # ___init___ is a constructor
        self.vtype= vtype
        self.wheels = wheels
        self.price = price
        self.model_year= model_year
        self.owner_name = owner_name
        self.seats = seats
        
    def display_information(self, ):
        message = f'''
        Hi, {self.owner_name} has a {self.vtype} as vehicle, it has {self.wheels} number of wheels, 
        its price is {self.price}$, it was built on Year {self.model_year},
        it has {self.seats} seats
        '''
        print (message)
      
v1 = Vehicle('Car', 4, 2000, 1988,'Madan', 6)
v2= Vehicle('Bike', 2, 500, 2005,'Hari', 2)
v3=Vehicle('Bus', 6, 7000, 2015,'Shyam', 50)

In [48]:
v1.wheels

4

In [49]:
v2.vtype

'Bike'

In [50]:
v2.display_information()

        Hi, Hari has a Bike as vehicle, it has 2 number of wheels,
        its price is 500$, it was built on Year 2005,
        it has 2 seats

In [51]:
v1.display_information()

        Hi, Madan has a Car as vehicle, it has 4 number of wheels,
        its price is 2000$, it was built on Year 1988,
        it has 6 seats

In [52]:
v3.display_information()

        Hi, Shyam has a Bus as vehicle, it has 6 number of wheels,
        its price is 7000$, it was built on Year 2015,
        it has 50 seats

In [53]:
!python --version #check python version

Python 3.9.12

In [ ]:
#create a class Bankaccount with features / argument --> name, address, account_no, balance
#create function add balance - to_add
#create function subtract balance - to_subtract

class Bankaccount:
    def __init__ (self, name, address, account_no, balance):
        
    
    def add_balance (to_add):
        #balance += to add
        
    def decrease_balance (to_decrease):
        balance -= to_decrease
        
#Hari = (.... )
#Shyam = (.....)